.newMsg {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    background-color: lightgray;
    padding: 0.2em 0.3em;
}

.msgInput {
    width: 100%;
    font-size: 1rem;
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    resize: none;
}

.newIcons {
    background-color: white;
    padding: 0.2em;
    border-radius: 50%;
    border: 1px solid darkgray;

    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 1.2rem;
        height: 1.2rem;
        aspect-ratio: 1;
    }
}

