.dmContainer {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
}

.dmContainerAuthor {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    justify-content: end;
    flex-direction: row-reverse;
}

.dmIcon {
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.dmAvatar {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
    object-fit: cover;
}

.dmBody {
    max-width: 60%;
}

.dmBodyContent {
    padding: 0.2em;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dmBodyTitle {
    display: flex;
    gap: 0.4em;
    padding-bottom: 0.2em;
    font-weight: 550;
}

.dmContainerAuthor .dmBodyTitle {
    justify-content: flex-end;
    text-align: end;
}

.authorName, .time {
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.6rem;
}

.authorName {
    font-style: italic;
}

.time {
    width: min(fit-content, 30%);
}

.msgImage {
    width: 100%;
    height: auto;
    background-color: rgba(200, 200, 200, 0.1);
    position: relative;
    & img {
        max-width: 100%;
        object-fit: contain;
    }
}

.msgBody {
    font-family: 'Inter';
    font-size: 0.9rem;
}

.spinner {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}