.pageContainer {
    display: grid;
    gap: 1em;
    align-items: flex-start;
    grid-template-columns: 300px 1fr;
}


@media(max-width: 650px) {
    .pageContainer {
        grid-template-columns: 1fr;
    }

    .pageContainer > *:first-child {
        display: none;
        visibility: hidden;
    }
}