.mainPage {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1em;
}

.mainPage > *:nth-child(1) {
    flex: 2;
}
.mainPage > *:nth-child(2) {
    flex: 1;
}



@media(max-width: 1024px) {
    .mainPage > *:nth-child(1),
    .mainPage > *:nth-child(2)  {
        flex: unset;
        border: 0;
    }
}

@media(max-width: 768px) {
    .mainPage {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}